@model ProductViewModel

    <div class="Product">
    
        @Model.Name
    
        <br> 
       <img src="~/images/@Model.Image" alt="@Model.Name" />
        <br>  
        <div class="PriceAndButton">
        Price: @Model.Price :-
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m=> m.product_id)
        @Html.HiddenFor(m=> m.Price)
         <button type="submit">Add To Cart</button>
    }
        </div>
    </div>