@model CartViewModel
@{
    ViewData["Title"] = "Products";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="Products">
    @Model.name
    <br />
    @Model.price
    <br />
    <img src="~/images/@Model.image" alt="@Model.name" />
</div>