@model List<Webshop.Project.Core.Models.CartModel>
@{
    ViewData["Title"] = "Cart";
    decimal totalPrice =0;
  
}
<h2>@ViewData["Title"]</h2>
<ul>
@foreach (var product in Model)
{
    totalPrice += @product.Amount * @product.price;
   
   <li>
<div class="Products">
   
    <img class="CartImage" src="~/images/@product.Image" alt="@product.Name" />   

@product.Name
@product.price :-

   
@using (Html.BeginForm())
    {
         Html.RenderPartial("Cart", product);
  
    }
       
</div>
</li>
   
}
    
</ul>
@if (Model.Any()) {
 <h3> Total price: @totalPrice :-</h3>
  <br>
    <a type="button" class="col-md-6 p-0 btn btn-lg btn-block btn-primary" href="/checkout" style="padding-left: 0px">Proceed to Checkout</a>
  <br>
}
else
{
<h1>Your cart is empty! :( </h1>
<a type="button" class="col-md-6 p-0 btn btn-lg btn-block btn-primary" href="/Product" style="padding-left: 0px">Continue Shopping</a>
}

  
