@model Webshop.Models.OrderViewModel
@{
    ViewData["Title"] = "Order";
}
<h2>@ViewData["Title"]</h2>
<h3>Thank You for</h3>

  <div  class="ShopPage">
    <div>
    @Model.user_name
    <br>
    @Model.Phone
    <br> 
    @Model.Adress
    <br>
    @Model.Email
    </div>
  </div>

  
