@model Webshop.Project.Core.Models.CheckoutModel
@{
    ViewData["Title"] = "Order";
    decimal totalPrice =0;
}

<h3>Thank You for ordering @Model.order.user_name!</h3>

  <div  class="OrderPage">
    <div>
    <h4>Email : @Model.order.Email</h4>

    <h4>Adress :  @Model.order.Adress</h4>

    <h4>Phone :  @Model.order.Phone</h4>
    </div>
    <ul>
     @foreach(var product in Model.product)
    {
         totalPrice += @product.Amount * @product.Price;
        <li>@(product.Name) - @(product.Price) :-
            <br>
        </li>

    }
      <h3> Total price: @totalPrice :-</h3> 
    </ul>
  </div>


